#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/kaineer/nhee.md/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/kaineer/nhee.md/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/kaineer/nhee.md
export PROJECT_BIN=/home/kaineer/devel/kaineer/nhee.md/bin
export PROJECT_NAME=nhee.md
export PROJECT_CREATED="27.05.2026"
