<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%title%</title>
    <link rel="stylesheet" href="%root%/assets/style.css" />
    <link rel="stylesheet" href="%root%/assets/navbar.css" />
    <link rel="stylesheet" href="%root%/assets/prompts.css" />
  </head>
  <body>
    %navbar%
    <div class="container">
      <h1 class="page-title">%title%</h1>
      <div class="prompts-list">
        <ul>
          <div class="prompt-item">
            <div class="prompt-description">Loading...</div>
          </div>
        </ul>
      </div>
    </div>

    <script src="%root%/assets/repos.js"></script>
  </body>
</html>

