<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%title%</title>
    <link rel="stylesheet" href="%root%/assets/style.css" />
  </head>
  <body>
    %navbar%
    <div class="card">
      <div class="title" id="titlePlaceholder">%title%</div>
      <div class="text-container">
        <div class="copyable-text" id="textPlaceholder">%content%</div>
        <div class="copy-feedback" id="copyFeedback">✓ Copied to clipboard</div>
      </div>
    </div>

    <script src="%root%/assets/citation.js"></script>
  </body>
</html>
